MoonPane {
    -fx-background-color: midnightblue;
    -fx-padding: 20;
    -fx-spacing: 20;
}

.moonPlayground {
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%,
    #3023AE 0%,
    #C86DD7 100%);

    -fx-border-width: 2;

    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%,
    #3023AE 0%,
    #C86DD7 100%);

    -fx-scale-shape: true;
    -fx-shape: "M40.5,83.8852459 C53.1179563,83.8852459 62.76852,81.4384001 70,75.442623 C75.2710619,71.072271 80,65.0922401 80,55.442623 C80,52.3169263 76.2142129,57.0972842 70,58.942623 C59.2603896,62.1317989 43.1661139,51.6164996 40.5,47.442623 C36.9961323,41.9572192 33.9149889,25.5810705 36.5,15.442623 C39.1439296,5.07309625 47.4207881,1 40.5,1 C18.6847524,1 1,19.5544943 1,42.442623 C1,65.3307516 18.6847524,83.8852459 40.5,83.8852459 Z";
}

.summit-left {
    -fx-background-color: #F2F3F5;
    -fx-scale-shape: true;
    -fx-shape: "M98.7,61.8701633 C98.7,61.8701633 109.633563,41.2542232 131.500689,0.0223431077 L164.32705,62.0979796 L158.326553,73.6692513 L146.813628,54.3867607 L131.7,83 L117.857122,60.3398069 L105.150294,70.2020778 C100.850098,64.6474681 98.7,61.8701633 98.7,61.8701633 Z";

}

.slider-button {
    -fx-background-color: #4988C1;
    -fx-shape: "M13.7218531,95.9139052 L23.2169563,111.982541 C23.7788831,112.933495 23.463515,114.159926 22.5125618,114.721853 C22.2044086,114.903944 21.8530353,115 21.4951032,115 L2.50489679,115 C1.40032729,115 0.504896789,114.104569 0.504896789,113 C0.504896789,112.642068 0.600953208,112.290695 0.783043733,111.982541 L10.2781469,95.9139052 C10.8400738,94.962952 12.0665054,94.6475839 13.0174586,95.2095107 C13.307909,95.3811405 13.5502233,95.6234548 13.7218531,95.9139052 Z";
    -fx-translate-x: 0;
    -fx-translate-y: 0;
    -fx-rotate: 90;
}

