.Snow-control {
    -fx-padding: 0;
    -fx-background-color: linear-gradient(from 50% 2.69451531% to 50% 98.3956473%,
    #1E65B1 0%,
    #8EBFDA 49.7189892%,
    #BDD5EF 100%);
    -base-color: rgb(2, 138, 204);
    -summit-color: #F2F3F5;
    -mountain-color: #D2D5DE;
    -mountain-shadow:#A4B3C3;
}


.Snow-control .snow-hill-right {
    -fx-shape: "M500.3969,11.8344886 C459.285989,2.11894519 424.724364,-1.61460439 396.712024,0.633839871 C354.693515,4.00650627 300.555708,5.00608821 263.301666,11.8344886 C238.465638,16.3867556 209.698416,22.1375985 177,29.0870175 C177,50.521388 177,61.1328469 177,60.9213943 C177,60.7099417 177,84.5087849 177,132.317924 L500.3969,132.317924 L500.3969,11.8344886 Z M263.607213,12 C237.929906,23.7679183 237.098924,32.6970988 261.114267,38.7875416 C297.137281,47.9232058 326.538806,46.0710173 386.696812,47.9232058 C426.80215,49.157998 464.868715,51.429485 500.896507,54.7376666 L500.872007,67.0554415 L205.880618,84.9292252 C198.338165,50.4161281 196.209811,30.9581607 199.495557,26.5553232 C202.781304,22.1524857 224.151855,17.3007113 263.607213,12 Z";
    -fx-background-color: linear-gradient(from 50% 0% to 50% 50%,
    #F0F3F9 0%,
    #DFE8F2 100%);
}

.Snow-control .snow-shadow-right{
    -fx-shape: "M263.607213,12 C237.929906,23.7679183 237.098924,32.6970988 261.114267,38.7875416 C297.137281,47.9232058 326.538806,46.0710173 386.696812,47.9232058 C426.80215,49.157998 464.868715,51.429485 500.896507,54.7376666 L500.872007,67.0554415 L205.880618,84.9292252 C198.338165,50.4161281 196.209811,30.9581607 199.495557,26.5553232 C202.781304,22.1524857 224.151855,17.3007113 263.607213,12 Z";
    -fx-background-color: linear-gradient(from 51.56% 25.56% to 48.67% 70.84%,
    #DDE4F5 0%,
    #D8DFEF 100%);
}

.Snow-control .snow-hill-left{
    -fx-shape: "M0,5.644602 C63.3351443,4.43367333 103.912829,4.92885352 121.733053,7.13014258 C148.463389,10.4320762 180.834108,13.7999647 203.431597,24.6804789 C226.029086,35.5609931 238.572365,39.4969015 250.743779,42.9384417 C256.846502,44.6640231 277.635412,50.0542563 301.472161,52.9151309 C325.175985,55.760052 351.132186,56.5539775 366.009087,57.6134137 C385.900573,59.029956 430.558653,61.1437545 499.983327,63.9548094 L499.9452,132.238476 L0,132.238476 L0,5.644602 Z";
    -fx-background-color: linear-gradient(from 50% 1.31% to 50% 64.60%,
    #FBFCFF 0%,
    #E2EBF8 100%);
}

.Snow-control .snow-shadow-left{
    -fx-shape: "M241.486144,40 C269.089429,57.2765808 270.717954,69.7572531 246.702611,75.8476959 C210.679597,84.98336 181.278072,83.1311716 121.120066,84.98336 C81.014728,86.2181523 40.6413728,87.4594321 1.13686838e-12,88.7071993 L1.13686838e-12,128.835218 C168.439527,130.544056 269.176343,129.694144 302.210445,126.285482 C335.244548,122.876819 401.165292,110.910479 499.972678,90.3864615 C499.793674,80.0561041 499.793674,71.1260303 499.972678,63.5962401 L323.021601,54.5695717 C304.803125,53.3227542 287.624152,51.1762188 270.774142,47.6538934 C265.486944,46.5486578 255.723921,43.8626851 241.486144,40 Z";
    -fx-background-color: linear-gradient(from 51.21% 32.35% to 48.54% 64.53%,
    #ECEFF7 0%,
    #D7DEF1 54.5858578%,
    #DEE4F5 100%);
}

.Snow-control .snow-hill-bottom{
    -fx-shape: "M500,65 C481.888559,67.7621208 450.413676,72.4591457 405.575354,79.0910747 C380.182926,82.846808 338.327713,90.4888808 298.175714,94.4056921 C241.54935,99.9295708 156.268208,102.7342 122.882658,104.587562 C87.1260576,106.572551 46.1651716,108.280211 -5.68434189e-14,109.710542 L2,223 L500,223 L500,65 Z";
    -fx-background-color: linear-gradient(from 50% 99.44% to 50% 18.72%,
    #DAE1F3 0%,
    #F4F5F9 100%);
}

.Snow-control .mountains{
    -fx-shape: "M39.8401521,350.16683 C52.8191349,325.565529 60.9073072,310.253936 64.1046689,304.232052 C67.3020306,298.210169 106.506938,223.08102 181.71939,78.8446068 L257.070128,224.378075 L344.931527,52.0238245 L498.00049,350.16683 L110.484801,350.16683 L73.842507,350.16683 L39.8401521,350.16683 Z";
    -fx-background-image: url(Mountains.png);
}

.Snow-control .snow-slider {
    -fx-shape: "M10.4091783,349.941364 C6.45936548,349.941364 0.296051714,345.875634 0.296051714,341.299228 C0.296051714,336.722823 0.319506462,133.955254 0.296051714,130.825617 C0.272596966,127.695979 4.42185105,120.925973 10.4091783,120.925973 C16.3965055,120.925973 37.1017347,120.925973 40.8169372,120.925973 C44.5321398,120.925973 50.9924081,124.52258 50.9924081,130.825617 C50.9924081,137.128654 51.1632302,337.093501 51.0778192,340.289463 C50.9924081,343.485425 47.8414265,349.941364 41.7124699,349.941364 C35.5835133,349.941364 14.3589911,349.941364 10.4091783,349.941364 Z";
    -fx-background-image: url(SnowSlider.png);
}

.Snow-control .slider-button {
    -fx-scale-shape: true;
    -fx-shape: "M12.3398566,215.038508 L20.4408278,229.620256 L20.4408278,229.620256 C20.9772541,230.585824 20.6293665,231.80343 19.663799,232.339857 C19.366683,232.504921 19.0324017,232.591542 18.6925132,232.591542 L2.4905709,232.591542 L2.4905709,232.591542 C1.3860014,232.591542 0.490570903,231.696112 0.490570903,230.591542 C0.490570903,230.251654 0.577191899,229.917372 0.742256335,229.620256 L8.84322748,215.038508 L8.84322748,215.038508 C9.37965383,214.07294 10.5972604,213.725053 11.5628279,214.261479 C11.889308,214.442857 12.1584788,214.712027 12.3398566,215.038508 Z";
    -fx-background-color: #4988C1;
    -fx-rotate: 90;
    -fx-pref-height: 22;
    -fx-pref-width: 26;
    -fx-cursor: hand;

}

.Snow-control .falling-snow{
    -fx-background-image: url(FallingSnow.gif);
    -fx-pref-width: 500;
    -fx-pref-height: 350;
}

.Snow-control .snow-hill-group {
    -fx-pref-height: 233;
    -fx-pref-width: 100;
}


